name: Update Chroma Styles

on:
  schedule:
    - cron: "0 0 * * *" # Run daily at midnight
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.19"
      - name: Update the Chroma dependency to the latest master commit
        run: |
          go get github.com/alecthomas/chroma/v2@$(git ls-remote --refs --heads https://github.com/alecthomas/chroma master | cut -f1)
          go mod tidy
          go mod vendor
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add go.* vendor || true
          git commit -m "Update dependencies" || true
      - name: Build selfupdate
        run: |
          cd cmd/selfupdate
          go build -mod=vendor
      - name: Run selfupdate
        run: cmd/selfupdate/selfupdate
      - name: Build gendoc
        run: |
          cd cmd/gendoc
          go build -mod=vendor
      - name: Run gendoc
        run: |
          cd cmd/gendoc
          ./gendoc
      - name: Commit and push changes
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add docs || true
          git log -1 --pretty=%B | grep -q "Update the Chroma style gallery" || git commit -m "Update the Chroma style gallery" && git push || true
