name: Update Chroma Styles

on:
  schedule:
    - cron: "0 0 * * *" # Run daily at midnight
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Update the Chroma dependency to the latest master commit
        run: |
          go get github.com/alecthomas/chroma/v2@$(git ls-remote --refs --heads https://github.com/alecthomas/chroma master | cut -f1)
          go mod tidy
          go mod vendor
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add go.* vendor || true
          git commit -m "Update dependencies" || true
      - name: Run selfupdate
        run: go run cmd/selfupdate/*.go
      - name: Run gendoc
        run: go run cmd/gendoc/*.go
      - name: Regression test, ref https://github.com/xyproto/splash/issues/8
        run: ./scripts/xmlname.sh
      - name: Commit and push changes
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add docs || true
          git log -1 --pretty=%B | grep -q "Update the Chroma style gallery" || git commit -m "Update the Chroma style gallery" && git push || true
